<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuMapper">
    <sql id="allAttribute">
		 <![CDATA[
            id,
            menu_name,
            menu_url,
            menu_type,
            menu_icon,
            sort,
            parent_id
        ]]>
	</sql>

    <resultMap type="Menu" id="menuMap">
        <id column="id" property="id"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_url" property="menuUrl"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="menu_type" property="menuType"/>
    </resultMap>
    <!-- ztree -->
    <!--<resultMap type="Menu" id="menuZtreeResultMap">-->
    <!--<id column="MENU_ID" property="MENU_ID"/>-->
    <!--<result column="MENU_NAME" property="MENU_NAME"/>-->
    <!--<result column="MENU_URL" property="MENU_URL"/>-->
    <!--<result column="PARENT_ID" property="PARENT_ID"/>-->
    <!--<result column="MENU_ORDER" property="MENU_ORDER"/>-->
    <!--<result column="MENU_ICON" property="MENU_ICON"/>-->
    <!--<result column="MENU_TYPE" property="MENU_TYPE"/>-->
    <!--<result column="target" property="target"></result>-->
    <!--</resultMap>-->

    <select id="getParentMenu" resultMap="menuMap">
        select
        <include refid="allAttribute"/>
        from t_menu where parent_id = '0' order by sort
    </select>

    <select id="getSubMenuByParentId" parameterType="String" resultMap="menuMap">
        select
        <include refid="allAttribute"/>
        from t_menu where parent_id = #{parentId} order by sort
    </select>

    <select id="getMenuById" parameterType="pd" resultMap="menuMap">
        select
        <include refid="allAttribute"/>
        from t_menu where id=#{menuId}
    </select>

    <insert id="save" parameterType="Menu" useGeneratedKeys="true" keyProperty="id">
		insert into t_menu (menu_name,menu_url,parent_id,sort,menu_type) values (#{menuName},#{menuUrl},#{parentId},#{sort},#{menuType})
	</insert>

    <update id="update" parameterType="Menu">
		update t_menu set
			menu_name =#{menuName},
			menu_url =#{menuUrl} ,
			parent_id =#{parentId},
			menu_type =#{menuType},
			sort=#{sort}
		where
			id=#{id}
	</update>

    <update id="editIcon" parameterType="Menu">
		update t_menu set	menu_icon=#{menuIcon} where id=#{menuId}
	</update>

    <update id="editType" parameterType="Menu">
		update t_menu set	menu_type=#{menuType} where id=#{menuId}
	</update>

    <delete id="deleteMenuById" parameterType="String">
		delete from t_menu where id=#{id} or parent_id=#{id}
	</delete>
</mapper>