<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoleMapper">

    <sql id="allAttribute">
		<![CDATA[
			id,
			role_name,
			perms,
			perm_id,
			menu_id,
			create_time
        ]]>
	</sql>

    <resultMap type="Role" id="roleResultMap">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="perms" property="perms"/>
        <result column="menu_id" property="menuId"/>
    </resultMap>

    <select id="getUserByRoleId" parameterType="pd" resultType="User">
		select id from t_user where role_id = #{roleId}
	</select>

    <select id="listAllRoles"  resultMap="roleResultMap">
        select
        <include refid="allAttribute"/>
        from t_role order by id
    </select>

    <update id="updateRoleRights" parameterType="Role">
		update t_role
		set menu_id=#{menuId}
		where id=#{id}
	</update>

    <delete id="deleteRoleById" parameterType="Long">
		delete from t_role where id=#{roleId}
	</delete>

    <insert id="insert" parameterType="pd" useGeneratedKeys="true" keyProperty="id">
		insert into t_role (role_name,create_time) values (#{roleName},#{createTime})
	</insert>

    <select id="getRoleById" parameterType="Long" resultMap="roleResultMap">
        select
        <include refid="allAttribute"/>
        from t_role
        where id = #{roleId}
    </select>

    <update id="updateRoleById" parameterType="pd">
		update t_role set role_name = #{roleName}	where id = #{roleId}
	</update>
</mapper>