<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>
    <sql id="allAttribute">
		<![CDATA[
			userId,
			userName,
			name,
			password,
			perms,
			status,
			roleId,
			lastLogin,
			ip,
			email,
			number,
			phone,
			bz
        ]]>
	</sql>

    <resultMap type="User" id="userAndRoleResultMap">
        <id column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="perms" property="perms"/>
        <result column="lastLogin" property="lastLogin"/>
        <result column="ip" property="ip"/>
        <result column="status" property="status"/>
        <result column="skin" property="skin"/>
        <association property="role" column="roleId" javaType="RoleBean">
            <id column="roleId" property="roleId"/>
            <result column="name" property="name"/>
            <result column="perms" property="perms"/>
        </association>
    </resultMap>
    <resultMap type="User" id="userResultMap">
        <id column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="perms" property="perms"/>
        <result column="lastLogin" property="lastLogin"/>
        <result column="ip" property="ip"/>
        <result column="status" property="status"/>
        <result column="roleId" property="roleId"/>
        <result column="skin" property="skin"/>
    </resultMap>

    <!-- 判断用户名和密码 -->
    <select id="getUserInfo" parameterType="User" resultMap="userResultMap">
        select * from t_user
        where 1=1
        <if test="userName!=null and password!=null">
            and userName = #{userName} and password=#{password}
        </if>
        <if test="userId!=null and userId>0">
            and userId = #{userId}
        </if>
    </select>

    <select id="getUserAndRoleById" parameterType="String" resultMap="userAndRoleResultMap">
		select  u.userId,
				u.userName,
				u.name,
				u.perms,
				u.password,
				u.skin,
				r.roleId,
				r.name,
				r.perms
		from t_user u
		left join t_role r
		on u.roleId=r.roleId
		where u.status=0
		and u.userId=#{userId}
	</select>

    <update id="updateLastLogin" parameterType="User">
		update t_user set
		lastLogin=#{lastLogin}
		where userId=#{userId}
	</update>

</mapper>