<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注解驱动配置-->
    <mvc:annotation-driven/>

    <!-- 配置服务端静态资源处理器，将静态资源的请求转发到默认的Servlet容器。静态资源的配置有多种方式，也可以在web.xml文件中配置。-->
    <mvc:default-servlet-handler/>

    <!--指定扫描的包名，可以指定多个不同包名，以逗号分隔。Spring IOC容器将扫描包下的类，自动注册为Spring Bean.
        Spring 提供了 @Component, @Repository,@Service, and @Controller注解方式。
    -->
    <context:component-scan base-package="org.abframe.controller"/>

    <!--<mvc:resources mapping="/admin/**" location="/,/admin/"/>-->
    <!--<mvc:resources mapping="/static/**" location="/,/static/"/>-->
    <!--<mvc:resources mapping="/plugins/**" location="/,/plugins/"/>-->
    <!--<mvc:resources mapping="/uploadFiles/**" location="/,/uploadFiles/"/>-->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/**"/>
            <bean class="org.abframe.interceptor.LoginHandlerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>104857600</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
        <property name="defaultEncoding">
            <value>utf-8</value>
        </property>
    </bean>

</beans>
